#Here it is

Node
    NodeName=master
    NodeType=master
    NodeAddr=127.0.0.1
    SendPort=12300
    RecvPort=12301
    dsp=12304
    BootstrapPort=12305
    lsp=12302
    lcp=12303
    Effort=400
    GroupSize=2

End

Node
    NodeName=alice
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12310
    RecvPort=12311
    dsp=12314
    BootstrapPort=12315
    lsp=12312
    lcp=12313
    Effort=100

End

Node
    NodeName=bob
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12320
    RecvPort=12321
    dsp=12324
    BootstrapPort=12325
    lsp=12322
    lcp=12323
    Effort=200

End

Node
    NodeName=cat
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12330
    RecvPort=12331
    dsp=12334
    BootstrapPort=12335
    lsp=12332
    lcp=12333
    Effort=300

End

Node
    NodeName=dan
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12340
    RecvPort=12341
    dsp=12344
    BootstrapPort=12345
    lsp=12342
    lcp=12343
    Effort=400
End

Node
    NodeName=edd
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12350
    RecvPort=12351
    dsp=12354
    BootstrapPort=12355
    lsp=12352
    lcp=12353
    Effort=500
End

Node
    NodeName=fly
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12360
    RecvPort=12361
    dsp=12364
    BootstrapPort=12365
    lsp=12362
    lcp=12363
    Effort=600
End

Node
    NodeName=gem
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12370
    RecvPort=12371
    dsp=12374
    BootstrapPort=12375
    lsp=12372
    lcp=12373
    Effort=700
End

Node
    NodeName=hex
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12380
    RecvPort=12381
    dsp=12384
    BootstrapPort=12385
    lsp=12382
    lcp=12383
    Effort=800
End