#Here it is

Node
    NodeName=master
    NodeType=master
    NodeAddr=127.0.0.1
    SendPort=12300
    RecvPort=12301
    dsp=12304
    drp=12305
    lsp=12302
    lcp=12303
    Effort=400

End

Node
    NodeName=alice
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12310
    RecvPort=12311
    dsp=12314
    drp=12315
    lsp=12312
    lcp=12313
    Effort=400

End

Node
    NodeName=bob
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12320
    RecvPort=12321
    dsp=12324
    drp=12325
    lsp=12322
    lcp=12323
    Effort=400

End

Node
    NodeName=cat
    NodeType=none
    NodeAddr=127.0.0.1
    SendPort=12330
    RecvPort=12331
    dsp=12334
    drp=12335
    lsp=12332
    lcp=12333
    Effort=400

End