#Here it is

Node
    NodeName=master
    NodeType=master
    NodeAddr=127.0.0.1
    SendPort=13377
    RecvPort=2227
    lsp=13378
    lcp=2228
    Effort=400

End

Node
    NodeName=leader2
    NodeType=leader
    NodeAddr=127.0.0.1
    NodeGroup=group2
    SendPort=13375
    RecvPort=2225
    lsp=13377
    lcp=2227
    Effort=400

End

Node
    NodeName=leader1
    NodeType=leader
    NodeAddr=127.0.0.1
    NodeGroup=group1
    lsp=13376
    lcp=2226
    SendPort=13370
    RecvPort=2220
    Effort=700
End

Node
    NodeName=alice
    NodeType = none
    NodeAddr=127.0.0.1
    NodeGroup=group1
    SendPort=13371
    RecvPort=2221
    dsp=13379
    drp=2229
    Effort=200
End

Node
    NodeName=bob
    NodeType = none
    NodeAddr=127.0.0.1
    NodeGroup=group2
    SendPort=13372
    RecvPort=2222
    dsp=13380
    drp=2230
    Effort=100
End

Node
    NodeName=cat
    NodeType = none
    NodeAddr=127.0.0.1
    NodeGroup=group2
    SendPort=13373
    RecvPort=2223
    Effort=400
End

Node
    NodeName=dan
    NodeType=none
    NodeAddr=127.0.0.1
    NodeGroup=group2
    SendPort=13374
    RecvPort=2224
    Effort=400
End

